/* ========== General Styling ============ */

@font-face {
  font-family: "Karla";
  src: url(../fonts/Karla-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Karla", Helvetica, sans-serif;
  height: 95vh;
  width: 95vw;
  margin: 2.5vh 2.5vw;
}

img {
  width: 100%;
  height: auto;
}

/* ========= Header =========== */

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2.5vh;
}

nav ul {
  display: flex;
  gap: 4vw;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
}

/* ============ Grid Styling ========== */
main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 1.3vw;
  margin-bottom: 6vh;
}

main section {
  display: flex;
  flex-direction: column;
  gap: 1.3vw;
  margin-bottom: 1.3vw;
}

main section:nth-child(7n + 1) {
  grid-column: span 3;
}

main section:not:nth-child(7n + 1) {
  grid-column: span 1;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: top;
  font-size: 1.5rem;
  font-weight: 400;
}

.product-brand {
  color: #848484;
}

/* =========== Footer ========= */
footer {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  justify-content: space-between;
  padding-bottom: 3.74vw;
}

h3 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 2.5vw;
}

footer section {
  display: grid;
  grid-template-columns: 1fr;
  align-items: top;
}

/* ========== Copyright ========== */
.copyright {
  color: #848484;
  padding-bottom: 1vh;
}
